<section class="flex flex-row justify-center bg-[#F7F7F7]">
    <!-- <div class="h-5 w-5 bg-[url('https://www.kindpng.com/picc/m/726-7266773_dobby-harrypotter-hp-hogwarts-dobby-from-harry-potter.png')]"></div> -->
    <div>
    <img class="h-[5rem] basis-1/12" src="https://www.kindpng.com/picc/m/726-7266773_dobby-harrypotter-hp-hogwarts-dobby-from-harry-potter.png">
</div>
    <div class="flex flex-col justify-center items-center basis-10/12"><h1>Welcome to Sous Chef Dobbie!</h1>
    <p>No socks allowed!</p></div>
    <div class="basis-1/12"></div>
</section>