<section class="flex flex-row justify-center bg-[#F7F7F7]">
    <!-- <div class="h-5 w-5 bg-[url('https://www.kindpng.com/picc/m/726-7266773_dobby-harrypotter-hp-hogwarts-dobby-from-harry-potter.png')]"></div> -->
    <img class="w-16" src="https://www.kindpng.com/picc/m/726-7266773_dobby-harrypotter-hp-hogwarts-dobby-from-harry-potter.png">
    <div class="flex flex-col justify-center items-center"><h1>Welcome to Sous Chef Dobbie!</h1>
    <p>No socks allowed!</p></div>
</section>