<section class="flex flex-row justify-center">
    <img class="w-16" src="https://www.kindpng.com/picc/m/726-7266773_dobby-harrypotter-hp-hogwarts-dobby-from-harry-potter.png">
    <div><h1>Welcome to Sous Chef Dobbie!</h1></div>
    <br>
    <div><p>No socks allowed</p></div>
</section>