<h2>Saved Recipies for <%=user.firstName%></h2>

<h2>list of saved recipies here (LINKS) and picture?</h2>


<% allsavedrecipes.forEach(function(recipe){ %>
    <div>
        <div>
            <img src=<%=recipe.dataValues.imageurl%>>
        </div>
        <div>
            <p><%=recipe.dataValues.title%></p>
        </div>
        <form method="POST" action="/recipes/saved/<%=recipe.dataValues.id%>?_method=DELETE">
            <button type="submit">Delete saved recipe</button>
        </form>
    </div>
<% }) %> 